<a href="https://colab.research.google.com/github/bwright6/BTE-320/blob/main/Coding_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# rock paper scissors
import random
Playagain= input("Do you want to play : (y/n)")
while Playagain == "y":
  computer_choice = random.choice (['rock', 'paper', 'scissors'])
  userinput = input ("Enter rock, paper, or scissors:")
  print(f'computer chose: {computer_choice}')
  if (userinput =='rock' and computer_choice == 'scissors') or (userinput == 'paper' and computer_choice == 'rock') or (userinput == 'scissors' and computer_choice == 'paper') :
    print ("user wins")
  elif userinput == computer_choice :
    print ("its a tie")
  else :
    print ("computer wins")

  Playagain=input("Do you want to play again? (y/n)")

Do you want to play : (y/n)y
Enter rock, paper, or scissors:rock
computer chose: scissors
user wins
Do you want to play again? (y/n)n

In [2]:
# Movie theater
init_attendees = 20
fixed_cost = 200

for advertising in range (0,201,25):
  attendees =float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees*10) - advertising - fixed_cost)
  print (f'{advertising} ${profit}')

0 $0.0
25 $75.0
50 $90.0
75 $105.0
100 $100.0
125 $95.0
150 $90.0
175 $85.0
200 $80.0

In [ ]:
# Deposit with interest rates
deposit = float (input("Enter deposit amount here:"))
if deposit >10000:
  ir = 3.5
elif deposit >1000:
  ir=3.25
else :
  ir=3.0
total = (1+ir/100) * deposit
print (f' deposit at the end of year : {round(total,2)}')

In [ ]:
s1 = "abcdefg"
s2= "abdght"

for char in s1:
  if char in s1==s2:
    print(char)

In [ ]:
import random
computer_choice = random.choice (['rock', 'paper', 'scissors'])
userinput = input ("Enter rock, paper, or scissors:")
print(f'computer chose: {computer_choice}')
if (userinput =='rock' and computer_choice == 'scissors') or (userinput == 'paper' and computer_choice == 'rock') or (userinput == 'scissors' and computer_choice == 'paper') :
    print ("user wins")
elif userinput == computer_choice :
    print ("its a tie")
else :
    print ("computer wins")

Enter rock, paper, or scissors:paper
computer chose: paper
its a tie

In [ ]:
# leap year
userinput = int(input('enter year :'))
if userinput % 100 == 0 :
  if userinput % 400 == 0 :
    print ('this is a leap year')
  else:
    print("this is not a leap year")
elif userinput % 4 ==0 :
  print ('this is a leap year')
else:
  print ('this is not a leap year')

enter year :2000
this is a leap year

In [ ]:
# Parking fee
hoursInput= int(input("enter the # of hours parked:"))
parking_fee=0
for hours in range (1,9):
  parking_fee=5 +2.5*hours



  if parking_fee<=10:
    parking_fee=10
  elif parking_fee >=20:
    parking_fee=20
  print (f'Hours: {hours} | Price: ${float(parking_fee)}')

enter the # of hours parked:8
Hours: 1 | Price: $10.0
Hours: 2 | Price: $10.0
Hours: 3 | Price: $12.5
Hours: 4 | Price: $15.0
Hours: 5 | Price: $17.5
Hours: 6 | Price: $20.0
Hours: 7 | Price: $20.0
Hours: 8 | Price: $20.0

Design a calculator :
- The calculator once starts, cannot stop unless the user chooses to (hint : infinite loop)
- Implement all numerical operators that we discussed
- The user has to provide the numbers and the desired operator from the keyboard; then, the calculator will display the result
- Numbers : int or float, operator : str
- The calculator stops if the user enters the word "break" instead of an operator; it skips an iteration if the user gives an operator that is not numerical (a Boolean one)

In [ ]:
# Calculator
while True:
  num1=float(input ("Enter number 1 :"))
  num2=float(input ("Enter number 2 :"))
  operator= input("Enter mathematical operator :")

  if operator == "break":
    break
  elif operator == "+":
    output = num1+num2
  elif operator == "-":
    output = num1-num2
  elif operator == "*":
    output = num1*num2
  elif operator == "/":
    output = num1/num2
  elif operator == "//":
    output = num1//num2
  elif operator == "%":
    output = num1%num2
  elif operator == "**" :
    output = num1**num2
  else:
    print("Invalid operator:", operator)
    continue
  print("Result:", output)

Enter number 1 :3
Enter number 2 :4
Enter mathematical operator :+
Result: 7.0
Enter number 1 :4
Enter number 2 :2
Enter mathematical operator :break

In [ ]:
# Date program
userinput = input("Enter the date in mm/dd/yyyy format:")
month = userinput[0:2]
date = userinput[3:5]
year = userinput[6:]
print(f'{month} {date} {year}')

In [ ]:
#Populating a Dictionary with Two Variables
months = {}
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for i in numbers:
  months[i]=names[i-1]
  print(months)

{1: 'Jan'}
{1: 'Jan', 2: 'Feb'}
{1: 'Jan', 2: 'Feb', 3: 'Mar'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov'}
{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
s1= 'abcdefg'
s2= 'abdght'

for char in s1:
  if char in s2:
    print (f'{char} is in s1 and s2')

for i in range (len(s1)):
  if s1[i] in s2:
    print(f' {s1 [i]} is in s2')

In [ ]:
# List creator
L=[]
number = int(input("Enter a value:"))
while number !=0:
  L.append(number)
  print(f'New list: {L}')
  number = int(input("Enter a value:"))

In [ ]:
def factorial(n):
  if n==1:
    return 1
  else:
    return factorial(n-1)* n
factorial(10)

3628800

In [ ]:
def reversal(n):
  if len(n)==1:
    return n
  else:
    return n[-1] + reversal(n[:-1])
reversal("float")

'taolf'

In [ ]:
def quickSort(alist):
  if len(alist)<2:
    return alist
  else:
    less, equal, larger = [],[],[]

    pivotindex=len(alist)//2

    for item in alist:
      if item < alist[pivotindex]:
        less.append(item)
      elif item ==alist[pivotindex]:
        equal.append(item)
      else:
        larger.append(item)

    return quickSort(less) + equal + quickSort(larger)

quickSort([8,2,5,3,6,1])

[1, 2, 3, 5, 6, 8]

In [ ]:
def avg(alist):
  try:
    print(sum(alist)/len(alist))
  except ZeroDivisionError:
    print("the list is empty")
  except TypeError:
    print("the list must be numeric only")
  else:
    print("the average is found")
  finally:
    print("This is always displayed")

avg([])

the list is empty
This is always displayed

In [ ]:
def avg(alist):
  try:
    return(sum(alist)/len(alist))
  except ZeroDivisionError:
    print("the list is empty")
    return []
  except TypeError:
    print("the list must be numeric only")

avg([])

the list is empty

[]

In [ ]:
# Mortgage
class Mortgage:
  def __init__ (self,amount, years, interest):
    self.amount = amount
    self.years = years
    self.__interest = interest

  def __str__ (self):
    return f' Initial loan amount : ${self.amount}\n Maturity term : {self.years} years \n Interest rate : {self.__interest}%'


  def get_interest(self):
    return self.__interest

  def set_interest(self,newInterest):
    if newInterest >= 0:
      self.__interest = newInterest
    else:
      print("Interest must be non-negative")

  def payment(self):
    B = self.amount
    n = self.years *12
    r = self.__interest /100
    return B * r *(1+r) **n /((1+r) ** n -1)

m = Mortgage(100000, 30, 6)

In [ ]:
print(m)

 Initial loan amount : $100000
 Maturity term : 30 years
 Interest rate : 6%

# New Section

In [ ]:
m = Mortgage(100000, 30, 6)
m.payment()

6000.000004656287

In [ ]:
m.set_interest(-5)
m.get_interest()

Interest must be non-negative

6

In [ ]:
class A:
  def __init__(self,obj):
    self.obj = obj

  def whoamI (self):
    print("I am an instance of class A")

  def __str__(self):
    return f'attribute value: {self.obj}'

  def __add__(self,other):
    return self.obj + other.obj

class B:
  def __init__(self,obj):
    self.obj = obj

  def whoamI (self):
    print("I am an instance of class B")

a1 = A(2)
a2 = A(5)
b = B(3)

In [ ]:
b.whoamI()

I am an instance of class B

In [ ]:
a1+a2

7

In [ ]:
print(a)

attribute value: 2

In [ ]:
class Point:
  def __init__ (self, x, y):
    self.x = x
    self.y = y

  def distance(self,other):
    x_diff = self.x - other.x
    y_diff =  self.y - other.y
    return (x_diff**2 + y_diff**2)** 0.5
class Point3D(Point):
  def __init__(self, x, y, z):
    super().__init__(x, y)
    self.z = z

  def distance(self,other):
    z_diff = self.z - other.z
    x_diff = self.x - other.x
    y_diff = self.y - other.y
    return (x_diff ** 2 +y_diff** 2 + z_diff** 2)** 0.5

p1 = Point(3,4)
p2 = Point(6,8)
print(p1.distance(p2))

p3d1 = Point3D(3,4,5)
p3d2 = Point3D(6,8,10)
print(p3d1.distance(p3d2))

5.0
7.0710678118654755

In [ ]:
class Animal:
  def __init__ (self,legs):
    self.legs = legs
    print("Animal created")
  def whoamI (self):
    print("I am an animal")

class Bird(Animal):
    def __init__ (self,legs, wings):
      super().__init__(legs)
      self.wings = wings
      print("Bird created")

    def fly(self):
      print("Birds can fly")

a = Animal(4)
b= Bird(2,2)

Animal created
Animal created
Bird created